
.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.mid {
  /* display: flex; */
  margin-left: 35%;
  /* margin-top: 40%; */
  /* justify-content: center; */
  /* align-items: center; */
}